name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v2.0.0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/gradle-build-action@v3.0.0

      - name: Spotless Check
        run: |
          ./gradlew spotlessCheck

      - name: Detekt Check
        run: |
          ./gradlew detekt

      - name: Build
        run: |
          ./gradlew build

      - name: Test
        run: |
          ./gradlew test

      - name: Public to mavenLocal
        run: |
          ./gradlew publishPluginMavenPublicationToMavenLocal